.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__logo {
  margin-right: 24px;
  font-family: cabinet grotesk, sans-serif;
  font-weight: 900;
  color: black;
  font-size: 32px;
  line-height: 1;
}

.header__date-and-location {
  margin: 0;
  font-family: cabinet grotesk, sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 20px;
  line-height: 24px;
}

.header__add-clothes-button {
  font-family: cabinet grotesk, sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 20px;
  line-height: 24px;
  border: none;
  padding: 0;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
  font-family: cabinet grotesk, sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 20px;
  line-height: 1;
}

.header__actions {
  display: flex; /* Align toggle switch and button horizontally */
  align-items: center; /* Vertically align toggle switch and button */
  gap: 20px; /* Add spacing between the toggle switch and the button */
  margin-left: auto; /* Push the actions to the right */
}

.header__nav-link {
  text-decoration: none;
  color: black;
}
