.modal__picture {
  border: none;
  max-width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}

.modal__content_type_image {
  padding: 0;
  overflow: hidden;
}

.modal__footer {
  padding: 0 32px 32px;
}

.modal__caption {
  margin: 0;
}

.modal__close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  background: url("../../assets/itemmodalclosebutton.svg") center no-repeat;
  background-size: contain;
}
