.SideBar__profile {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 16px;
}

.SideBar__username {
  margin: 0;
  font-family: cabinet grotesk, sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 20px;
  line-height: 1;
  white-space: nowrap;
}

.SideBar__avatar {
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 12px;
  display: block;
}
