.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: bottom;
  margin-bottom: 24px;
}

.footer__left {
  margin-left: 40px;
}

.footer__right {
  margin-right: 24px;
}
